body {
    max-width: 800px;
    font-family: sans-serif;
    padding: 20px 50px;
    text-align: justify;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}